
.name-paragraph {
    padding: 1.5rem;
    background: linear-gradient(rgb(138, 157, 158), white);
    border: 2px dotted rgb(24, 114, 121);
    border-radius: 2px;
    text-align: center;
}
.academy-link{
    text-decoration: none;
}
.academy-link:hover{
    font-weight: bolder;
}
.name-message {
    margin: 1.5rem;
}

.load-more {
    padding: 0.5rem;
    text-align: right;
    background-color: white;
}
.text{
    color: black;
    text-decoration: none;
}
.text:hover{
    font-weight: bolder;

}